[Unit]
Description=Boilercontrol
After=NetworkManager.service
Requires=NetworkManager.service boilercontrol_createpidlocation.service

[Service]
Type=forking
Environment=GEM_PATH=/usr/local/rvm/gems/ruby-2.3.0:/usr/local/rvm/gems/ruby-2.3.0@global
PIDFile=/var/run/boiler_controller/boiler_controller.pid
User=boiler
TimeoutStopSec=60
Nice=-3
ExecStart=/usr/local/bin/boiler_controller.rb --daemon --pidfile /var/run/boiler_controller/boiler_controller.pid
ExecStop=/usr/local/bin/boilercontrol_shutdown
ExecReload=/usr/local/bin/boilercontrol_reload
Restart=always
RestartSec=180

[Install]
WantedBy=multi-user.target
